<nav class="navbar navbar-expand navbar-light " style="background-color: rgb(142, 92,27);">
  <div class="container-fluid">
    <!-- Logo -->
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img src="{{ imagePath  }}" width="30" height="30" alt="Omm" loading="lazy">
      </a>
    </div>
    <!-- Items / Tab Bars -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a routerLinkActive="active" class="nav-link" routerLink="/blogs"> <span> <strong>Home</strong> </span> </a>
        </li>
        <li class="nav-item">
          <a routerLinkActive="active" class="nav-link" routerLink="/post/write"> <span> <strong><i>Write
                </i></strong></span> </a>
        </li>
      </ul>
      <!-- Right Side -->
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item" *ngIf="isAuthenticated">
          <a routerLinkActive="active" class="nav-link" style="cursor: pointer;" (click)="onLogout()"><span>
              <strong>Logout </strong> </span></a>
        </li>
      </ul>


    </div>
  </div>
</nav>